body,html {
  font-size: 16px;
  margin: 3rem;
}
input {
    margin-right: .4rem;
    padding: .5rem;
    width: 5rem;
    box-sizing: border-box;
  }
.anzahl {
  width: 5rem;
  box-sizing: border-box;
}
#liste td:nth-child(2) {
  width: 11rem;
  box-sizing: border-box;
}
.name, #liste td:first-child {
  width: 15rem;
  box-sizing: border-box;
}
#addItem {
  padding: 0.5rem 1rem;
}

#liste {
  border-collapse: collapse;
}

#liste th,
#liste td {
  padding: .5rem 2rem;
  border: 1px solid #999;
}
#liste th {
  background-color: rgb(199, 230, 206);
  text-align: left;
}

#liste td > button {
  margin-right: 5px;
  font-size: 1.5rem;
  width: 2.5rem;
}

.removeItem {
  color: rgb(151, 43, 43);
}
.nachOben, .nachUnten {
  color: rgb(13, 80, 33);

}

